@font-face {
  font-family: "nemode demo Regular";
  src: url("../../fonts/demo-ne.ttf");
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../../fonts/UBUNTU-R.TTF");
}
@font-face {
  font-family: "Evogria Regular";
  src: url("../../fonts/Evogria.otf");
}







html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_geral.sass */
* {
  outline: none;
}

/* line 4, ../sass/_geral.sass */
body {
  margin: 0;
  padding: 0;
  font-family: "nemode demo Regular";
  font-size: 16px;
  /*overflow-x: hidden;   */
}

/* line 8, ../sass/_geral.sass */
strong {
  font-weight: bold;
}

/* line 76, ../sass/_geral.sass */
.alinhamento {
  width: 1100px;
  height: auto;
  margin: 0 auto;
}

/* line 81, ../sass/_geral.sass */
.divide {
  float: left;
  margin-top: 25px;
  text-align: center;
  width: 100%;
}
.divide img {
  max-width: 100%;
}

#menu {
  background: url("../../img/bg-topo.jpg") repeat scroll 0 0;  
  /*float: left;*/
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;  
  z-index: 999;
  border-bottom: 3px solid #000;
  height: 145px;
  /*overflow: hidden;*/
}
#menu:after{
  clear: both;
}
#menu .rigth-top{
  float: right;  
  margin-right: 2.5%;
  z-index: 999;
}
#menu .left-top{
  float: left;  
  z-index: 997;
  margin-left: 2.5%;
}
#menu a {
  text-decoration: none;
}
#menu ul li {
  color: #777777;
  cursor: pointer;
  display: inline-block;
  font-family: "nemode demo Regular";
  font-size: 18px;    
  padding: 13px;  
  text-transform: uppercase;
  z-index: 999;
}
#menu ul li:hover {
  color: #cbcbca;  
}
#menu #menu-principal {  
  float:right;
  margin-top: 17px;   
}
#menu #menu-principal li{  
  padding-left: 10px;
  font-family: "Ubuntu Regular";
  font-weight: bold;
  font-size: 14px;
}

#logo-menu {      
    position: relative;
    margin-left: 25px;      
  }
  #logo-menu span {
    background: url('../../img/sprite-images.png');
      background-position: -15px 0;
      width: 460px;
      height: 143px;
      position: absolute;         
      text-indent: -9999px;  
      cursor: pointer;              
  }  
  .social-networks{
            float: right;
            margin: 29px -3px 0 0;            
          }
          .social-networks-ul {
            display: inline-block; 
            padding: 0 !important;  
            width: 145px !important;                   
          }
          .sprite-background{
            background:url("../../img/sprite-images.png") no-repeat;            
            width: 32px;            
            height:35px;                        
          }
          .social-networks-ul li {            
            float: left;
            padding: 0 !important
            
          }          
          .instagram{
            background-position: -3px -383px;
          }
          .youtube{
            background-position: -33px -383px;
          }
          .facebook-2{
            background-position: -68px -383px;
          }
          .twitter{
            background-position: -101px -383px;
          }

          .instagram:hover{
            background-position: -3px -672px;
          }
          .youtube:hover{
            background-position: -33px -672px;
          }
          .facebook-2:hover{
            background-position: -68px -672px;
          }
          .twitter:hover{
            background-position: -101px -672px;
          }


          .social-toltip {
            /*text-indent: 0;*/            
            top: 40px;
            /*font-family: "ubuntubold";*/
            font-size: 16.85px;
            color: #e5e6e6;
            background: #232323;
            padding: 8px 8px;
            margin: 15px 0 0 0;
            position: absolute;
            opacity: 1.0;
            display: none;
          }
          .v8class {
            background-position: -149px -380px;
            text-indent: -9999px;
            height: 20px; 
          }
          .v8class:hover {
            background-position: -143px -667px;            
          }
          .logo{
            background-position: -149px -383px;
            text-indent: -9999px;
            height: 20px; 
          }

/* line 154, ../sass/_geral.sass */
#home {  
  background: url("../../img/bg-slide.jpg") repeat scroll 0 0;
  float: left;
  margin-top: 148px;
  width: 100%;  
}

#institucional {  
  background: url("../../img/bg-quemsomos.jpg");  
  float: left;  
  width: 100%;
  padding-top: 100px;
  padding-bottom: 15px;
}
#institucional .logo {
  position: relative;
  height: 230px;
  width: 195px;
  margin: -69px auto;
  text-align: center;  
  background-position: -1px -430px;
  text-indent: -9999px;    
}
#institucional .logo span {
  max-width: 100%;
  height: auto;
}
#institucional h2{
  display: none;
}
#institucional .quem-somos {
  position: relative;
  height: 217px;
  width: 440px;
  margin: 65px auto;
  text-align: center;  
  background-position: -1px -160px;
  text-indent: -9999px;    
}
#institucional .quem-somos span {
  max-width: 100%;
  height: auto;
}
#institucional .content {
  margin: 0 auto;
  width: 600px;
  font-family: "Ubuntu Regular";
}
#institucional .content p{
  text-align: center;
  color: #7a7a7a;
  font-size: 20px;
  line-height: 25px;
}


#comofunciona {  
  float: left;
  text-align: center;
  width: 100%;
  /*background:#171717;*/
  
}
#comofunciona h2{
  display: none;
}  
#comofunciona #comofunciona-bg-1{
  height: 475px;
  background: url("../../img/bg-comofunciona-0-0.jpg") no-repeat; 
  width: 100%;  
  position: relative; 
}
#comofunciona #comofunciona-bg-2{
  height: 475px;
  background: url("../../img/bg-comofunciona-0-1.jpg") no-repeat;  
  width: 100%;  
  position: relative;
}


#solicitante-container{
  background: #FFF;
  float: left;
  /*height: 1192px;*/
  text-align: center;
  width: 100%;
  color: #727272;
}
#solicitante {
  
}

#solicitante-container .solicitante-top {
  position: relative;
  height: 291px;
  width: 117px;
  margin: 0px auto;
  text-align: center;  
  background-position: -218px -390px;
  text-indent: -9999px; 
  margin-bottom: -25px;   
}
#solicitante-container .solicitante-top span {
  max-width: 100%;
  height: auto;
}
#solicitante-container h2{
  text-transform: uppercase;
  color: #8e8e8e;
  padding: 25px 0px 25px 0px;
  font-size: 50px;
  font-family: "Evogria Regular";
  line-height: 51px;
}
#solicitante-container h2 span{  
  color: #6e6e6e;
}
#solicitante p {
  color: #8e8e8e;
  font-size: 20px;
  width: 420px;
  margin: 0px auto;
  font-family: "Ubuntu Regular";
  
}
#solicitante p span {
  color: #6e6e6e; 
}
#solicitante #solicitante-line{
  padding: 3px;
  width: 1125px;
  background-color: #dfdfdf;
  margin: 37px auto 0 auto;
  border-radius: 3px;
}
#solicitante-container .sombra{  
  width: 1125px;
  margin: 10px auto;  
  -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.65);
  box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.65);
}
#solicitante .wrapper-content{
  background-color: #dfdfdf;
  width: 1080px;
  margin: 25px auto;
  border-radius: 10px;
  padding: 18px 28px;
}
#solicitante #add-imagens-label {
  font-size: 15px;
}

#solicitante #sol-2 {
  z-index: 998;
  position: relative;
}

#solicitante .motor {
  float: left;
  margin: 175px 0 150px 12%;
  width: 56%;
}
#solicitante .motor img {
  max-width: 100%;
  height: auto;
}
#solicitante .btn-solicitante {
  background: none repeat scroll 0 0 #e8d60d;
  border-radius: 6px;
  color: #001326;
  float: right;
  font-family: "nemode demo Regular";
  font-size: 50px;
  height: 31px;
  margin: 30px 19% 0 0;
  padding: 23px 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 235px;
}

.fancybox-skin {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #444;
  position: relative;
  text-shadow: none;
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#solicitante .title-box{
  width: 100%;
  text-align: left;
}
#solicitante .title-box h4{
  font-family: "Evogria Regular";
  color: #8e8e8e;
  font-size: 25px;  
  padding: 15px 0 35px 8px;    
  text-align: left;
  line-height: 27px;
}

/* line 512, ../sass/_geral.sass */
#solicitante .box-form3 input[type="file"] {
  
  left: 10px;
  position: absolute;
  top: 31px;
  
  cursor: pointer;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/* line 520, ../sass/_geral.sass */
/*#solicitante .box-form3 .btn-div {*/
  #solicitante button{
  width: 90%;
  float: left;
  font-weight: 600;
  border: 1px solid #7e7e7e;
  border-radius: 5px;
  text-align: center;
  background: #fdfdfd;
  color: #7e7e7e;
  padding: 9px 6px;
  font-size: 15px;
  cursor: pointer;  
  margin: 5px 5px;
}
#solicitante button:hover {
  background: #7e7e7e;
  color: #fdfdfd;
}

#solicitante .box-form3 input[type="submit"], #solicitante .box-form3 input[type="reset"],
.btn.btn-default {
  width: 90%;
  height: 37px;
  border: 0;
  float: left;
  font-family: "Evogria Regular";
  font-size: 20px;
  color: #8e8e8e;  
  border-radius: 6px;
  margin: 36px 7px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;  
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  border: 1px solid #b1b1b1;
  background: #cdcdcd;
}

#solicitante .box-form3 input[type="submit"]:hover, #solicitante .box-form3 input[type="reset"]:hover,
.btn.btn-default:hover {
  background: #7e7e7e;
  color: #fdfdfd;
}

#solicitante input[type="text"]:focus, #solicitante select:focus, #solicitante textarea:focus {
  border: 2px solid #E0FFFF;
}


#solicitante .container-body {
  height: 655px;
}
#solicitante .box-form {
  float: left;
  width: 35%;
}
#solicitante .box-form2 {
  float: left;
  width: 46%;
}
#solicitante .box-form3 {
  float: left;
  width: 19%;
}
#solicitante .box-form2 .wrapper-form {
  margin-right: 40px;
}
#solicitante .box-form .wrapper-form {
  margin-left: 8px;
  margin-right: 67px;
}
#solicitante .box-form label, #solicitante .box-form2 label, #solicitante .box-form3 label {
  color: #727272;
  font-size: 20px;
  margin-bottom: 5px;
}

#solicitante .importados .import-headding {
  float: left;
  font-size: 12px;
  margin-left: 8px;
  margin-top: 19px;
  text-align: left;
  width: 100%;
  font-family: "Arial"
}

#solicitante-container .solicitante-bottom {
  position: relative;
  height: 89px;
  width: 50px;
  margin: 37px auto 0 auto;
  text-align: center;  
  background-position: -331px -390px;
  text-indent: -9999px;   
}


#preview01, #preview02 {
  float: left;
  margin: 18px 0 0 0px;
  position: relative;
  text-align: center;
  height: 346px;
  width: 100%;
}
#preview01 img, #preview02 img {
  border: 4px solid #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 70px;
  margin: 2px 4px;
  width: 70px;
  float: left;
}
#preview01 .preview-loader, #preview02 .preview-loader {
  background: url("../../img/loading.gif") no-repeat scroll center center transparent;
  float: left;
  height: 78px;
  margin: 2px 4px;
  width: 108px;
}
#classificados {  
  float: left;  
  width: 100%;
}
#classificados table{
  width: 2000px; 
  }
#classificados #bg-v8class_0_0{
  background: url("../../img/bg-v8class_0_0.jpg");
  width: 1000px;  
  height: 249px;  
  border-width: 0px;
}

#classificados #bg-v8class_0_1{
  background: url("../../img/bg-v8class_0_1.jpg");
  width: 1000px;  
  height: 249px; 
  border-width: 0px;
}

#classificados #bg-v8class_1_0{
  background: url("../../img/bg-v8class_1_0.jpg");
  width: 1000px;  
  height: 249px; 
  border-width: 0px;
}
#classificados #bg-v8class_1_1{
  background: url("../../img/bg-v8class_1_1.jpg");
  width: 1000px;  
  height: 249px;  
  border-width: 0px;
}
#classificados #bg-v8class_2_0{
  background: url("../../img/bg-v8class_2_0.jpg");
  width: 1000px;  
  height: 170px; 
  border-width: 0px;
}

#classificados #bg-v8class_2_1{
  background: url("../../img/bg-v8class_2_1.jpg");
  width: 1000px;  
  height: 170px; 
  border-width: 0px;
}
#classificados #classificados-link {
  height: 20px;
  width: 95px;  
  position: absolute;
  left: 1267px;
  margin-top: -189px;
  cursor: pointer;
  border-radius: 10px;    
}
#classificados #classificados-link:hover{
  background-color: #000;
  opacity: 0.3;
}

/* line 567, ../sass/_geral.sass */
#parceiro {   
  width: 100%;  
  float: left;
}
#parceiro .bg-parceiro-top{
    /*margin-top: 110px;*/
    padding-top: 110px;
}
#parceiro .bg-parceiro p{
    font-family: "Evogria Regular";
    font-size: 25px;
    line-height: 27px;
    color: #888888;    
}
#parceiro .bg-parceiro p span{      
  color: #494949;  
}
#parceiro .sprite-parceiro {
  background: url("../../img/sejaparceiro.png") no-repeat scroll 0px -50px;
  position: relative;
  height: 255px;
  width: 717px;
  margin: 0px auto;
  text-align: center;    
  text-indent: -9999px;   
}
#parceiro .sprite-parceiro span {
  max-width: 100%;
  height: auto;
}
#parceiro .bg-parceiro{
  background: url("../../img/bg-sejaparceiro.jpg") no-repeat;  
  height: 1090px;
  margin: 0 auto;
  text-align: center;
}
#parceiro .parceiro-form-holder {  
  position: relative;
  margin: 0 auto;
  width: 685px;
  height: 417px;
  padding: 18px 28px 35px 18px;
  background-color: #dfdfdf;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 6px -6px rgba(0,0,0,0.35);
       -moz-box-shadow: 0 15px 6px -6px rgba(0,0,0,0.35);
            box-shadow: 0 15px 6px -6px rgba(0,0,0,0.35);    
}


#parceiro .parceiro-form-col01 {
  float: left;
  position: relative;
  width: 47%;
  margin-top: -150px;
}
#parceiro .parceiro-form-col02 {
  float: right;
  position: relative;
  width: 47%;
  margin-top: -150px;
}

#parceiro label, #parceiro #divResult {
  color: #727272;
  font-size: 19px;
}
#parceiro .parceiro-form-col01 textarea {
  height: 66px;
}
#parceiro .parceiro-form-col02 textarea {
  height: 146px;
}
#parceiro input, #parceiro select, #parceiro textarea{
  margin-top: 5px;
  font-size: 20px;
}
#parceiro input:focus, #parceiro select:focus, #parceiro textarea:focus{
  border: 2px solid #E0FFFF;  
}

#parceiro .btn {
  border: medium none;  
  color: #000;
  cursor: pointer;
  float: left;
  font-family: "nemode demo Regular";
  font-size: 20px;
  height: 37px;
  margin: 0;
  padding-top: 5px;
  text-transform: uppercase;
  width: 45%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#parceiro .btn.btn-primary  {
  color: #ffffff;
  background: #737373; 
  margin-top: 10px;
  background: -moz-linear-gradient(top, #737373 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737373), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #737373 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #737373 0%,#0e0e0e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #737373 0%,#0e0e0e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #737373 0%,#0e0e0e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737373', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  
}
#parceiro .btn.btn-primary:hover {
  background: #7e7e7e;
  color: #fdfdfd;  
}
#parceiro .btn.btn-default {
  margin-top: 10px;
  float: right;
  margin-top: 10px;
  float: right;
  color: #ffffff;
  background: #cdcfd0; 
  background: #cdcfd0; /* Old browsers */
  background: -moz-linear-gradient(top,  #cdcfd0 0%, #b4b5b9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcfd0), color-stop(100%,#b4b5b9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cdcfd0 0%,#b4b5b9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cdcfd0 0%,#b4b5b9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cdcfd0 0%,#b4b5b9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cdcfd0 0%,#b4b5b9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcfd0', endColorstr='#b4b5b9',GradientType=0 ); /* IE6-9 */
}
#parceiro .btn.btn-default:hover {
  background: #7e7e7e;
  color: #fdfdfd;  
}



#contato {
  
  float: left;  
  text-align: center;
  width: 100%;
  
}
#contato .bg-contato{
  margin: 0 auto;  
  height: 560px;
  background: url("../../img/bg-vamosconversar.jpg") no-repeat;
  margin-top: -250px;
}
#contato .contato-top {
  position: relative;
  height: 150px;
  width: 150px;
  margin: -90px auto 0px auto;
  text-align: center;  
  background-position: -350px -600px;
  text-indent: -9999px; 
  margin-bottom: -25px; 
  z-index: 99;  
}
#contato .contato-top span {
  max-width: 100%;
  height: auto;
}
#contato h2{
  text-transform: uppercase;
  color: #8e8e8e;
  padding: 70px 0px 20px 0px;
  font-size: 65px;
  font-family: "Evogria Regular";
  line-height: 66px;
}
#contato h2 span{  
  color: #6e6e6e;
}
#contato .p-topo {
  text-align: center;
  color: #6e6e6e; 
  font-size: 19px;  
  margin: 0px auto; 
  font-family: "Ubuntu Regular";  
}
#contato .map {
  position: relative;
  height: 35px;
  width: 35px;  
  text-align: center;  
  background-position: -425px -390px;
  text-indent: -9999px;  
  margin-left: 40px;    
}
#contato .map span {
  max-width: 100%;
  height: auto;
}
#contato .fist-map{
  margin-left: 45px;
}
#contato .last-map{
  position: absolute;
  margin: -35px 0;
  left: 175px;
}
#contato #container-names{  
  text-align: center;
  display: inline-block;
  margin-top: 30px;
}
#contato #container-names li{
  float: left;
  color: #6e6e6e;
  margin: 0 35px 0 0;
  font-weight: bold;
  font-family: "Ubuntu Regular";
  font-size: 18px;
  padding-left: 35px;
}
#contato #container-names li a{
  text-decoration: none;
  color: #6e6e6e;
  font-weight: 500;
}
#contato .container-contato{
  margin: 420px 27%;
  width: 100%;
}


#contato .box-info{
  float: left;
  width: 15%;  
  position: relative;   
}
#contato h3{
  text-transform: uppercase;
  color: #8e8e8e;  
  font-size: 30px;
  margin: 0;
  text-align: left;
  font-family: "Evogria Regular";
  line-height: 31px;
  
}
#contato h3 span{
  color: #6e6e6e;
}
#contato .container-bg{  
  padding: 38px 0px;
  border-radius: 10px;
  color: #6e6e6e;
  text-align: left;
  position: absolute;
  z-index: 99;
  margin: 40px 0;
  width: 100%;
  text-align: center;
  background: #fff;   
  background: -moz-linear-gradient(top, #fff 0%, #dedede 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#dedede 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#dedede 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%,#dedede 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}
#contato .container-bg p{
  padding-top: 5px;
  font-family: "Ubuntu Regular";

}
#contato .container-bg .last-p{
  padding-top: 20px; 
}
 
#contato .box-formulario{
  float: left;
  width: 15%;  
  position: relative; 
  margin: 0 2%;    
}
#contato .box-formulario h3{
  margin-left: 18px;
}
#contato .contato-form-col01 {  
  height: 500px;  
  border-radius: 10px;
  padding: 18px 18px;
  position: absolute;
  z-index: 99;
  margin-top: 40px;  
  background: #fff;   
  background: -moz-linear-gradient(top, #fff 0%, #dedede 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#dedede 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#dedede 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%,#dedede 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

#contato .contato-form-col01 textarea {
  height: 70px;
}

.parceiro-form-holder h3 {
  color: #727272;
  font-size: 23px;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 100px;
  font-family: "Evogria Regular";
}

.parceiro-form-holder .parceiro-form-col01 h3{
  text-align: left;
  margin-left: -18px;
}
#contato label, #contato#divResult {
  color: #727272;
  font-size: 16px;
}
#contato .parceiro-form-col01 textarea {
  height: 66px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contato input, #contatoselect, #contatotextarea{
  margin-top: 5px;
  font-size: 20px;
}
#contato input:focus, #contatoselect:focus, #contatotextarea:focus{
  border: 2px solid #E0FFFF;
}
#contato .submit-container {
  padding-left: 10px;
} 
#contato .btn-primary  {
  padding: 5px 35px 0 35px;
  border: none;    
  cursor: pointer;
  float: left;
  font-family: "nemode demo Regular";
  font-size: 20px;
  height: 37px;  
  text-transform: uppercase;  
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  color: #ffffff;
  background: #7e7e7e;   
  margin-top: 20px;  
}
#contato .btn-primary:hover {
  background: #0E0E0E;
  color: #fdfdfd;  
}

#contato .box-atendimento{
  float: left;
  width: 15%;  
  position: relative;   
}
#contato .bg-atendimento{  
  background-color: #FFF;
  border-radius: 10px;
  position: absolute;
  z-index: 99;
  margin-top: 40px;
  width: 100%;
  background: #fff;   
  background: -moz-linear-gradient(top, #fff 0%, #dedede 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#dedede 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#dedede 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%,#dedede 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}
#contato .atendimento {
  position: relative;
  height: 140px;
  width: 140px;  
  text-align: center;  
  background-position: -379px -462px;
  text-indent: -9999px; 
  margin: 15% 30%;       
}
#contato .atendimento span {
  max-width: 100%;
  height: auto;
}

#footer:before {
  clear: both;
}
#footer{
  background: url("../../img/bg-footer.jpg");
  position: relative;    
  z-index: 2;
  height: 475px;
  float: left;  
  width: 100%;    
  margin: -300 auto;
  clear: both;

  
}

/* line 1, ../sass/_modal.sass */
.sobra-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999999999999;
  display: none;
}

/* line 9, ../sass/_modal.sass */
#modal-solicitante {
  width: 588px;
  height: auto;
  position: absolute;
  z-index: 9999999999999999;
  background: white;
  border-radius: 6px;
  left: 50%;
  margin-left: -304px;
  padding: 0 10px;
  top: 3000px;
  display: none;
}
/* line 24, ../sass/_modal.sass */
#modal-solicitante form table tr {
  min-height: 37px;
  font-family: "Myriad Pro";
  font-size: 12px;
  color: #7e7e7e;
  text-align: right;
}
/* line 30, ../sass/_modal.sass */
#modal-solicitante form table tr td {
  padding: 5px 5px 5px 0;
}
/* line 33, ../sass/_modal.sass */
#modal-solicitante form table p {
  font-family: "Myriad Pro";
  text-align: right;
  color: #7e7e7e;
  font-size: 12px;
  float: left;
}
/* line 40, ../sass/_modal.sass */
#modal-solicitante form table span {
  text-align: left;
  padding-right: 10px;
}
/* line 44, ../sass/_modal.sass */
#modal-solicitante form input[type="text"] {
  width: 100%;
  height: 27px;
  float: left;
  border: 1px solid #bcbec0;
  border-radius: 5px;
  background: #f4f5f5;
  padding: 10px;
  color: #7e7e7e;
}
/* line 54, ../sass/_modal.sass */
#modal-solicitante form select {
  width: 133px;
  height: 27px;
  float: left;
  border: 1px solid #bcbec0;
  border-radius: 5px;
  text-align: center;
  background: #f4f5f5;
  color: #7e7e7e;
  padding: 0 5px 0 5px;
}
/* line 65, ../sass/_modal.sass */
#modal-solicitante form input[type="file"] {
  width: 144px;
  height: 29px;
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/* line 73, ../sass/_modal.sass */
#modal-solicitante form .btn-div {
  width: 133px;
  height: 23px;
  float: left;
  border: 1px solid #bcbec0;
  border-radius: 5px;
  text-align: center;
  background: #f4f5f5;
  color: #7e7e7e;
  padding: 4px 5px 0 5px;
  cursor: pointer;
}
/* line 85, ../sass/_modal.sass */
#modal-solicitante form textarea {
  width: 468px;
  height: 99px;
  float: left;
  border: 1px solid #bcbec0;
  border-radius: 5px;
  background: #f4f5f5;
  color: #7e7e7e;
  padding: 5px 5px 0 5px;
}
#divResult {
  color: #ffffff;
  font-family: Arial,Verdana,Helvetica;
  text-align: left;
}




/* line 61, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 93.75%;
}

/* line 64, ../../../../../../Users/Thiago/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 15px;
  line-height: 1.33333em;
}




/* -------------------------------------------------------------------------- */
/* MENU TOP FIXED */
/* -------------------------------------------------------------------------- */

/* navbar collapse */
.top-nav-collapse {
  background-color: #000;
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
}
.top-nav-collapse li a {
    color: #fff;
}


/* -------------------------------------------------------------------------- */
/* MENU MOBILE */
/* -------------------------------------------------------------------------- */
.mobile-nav-icon {
  background: url("../../img/mobile_nav_icon_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 20px;
  position: absolute;
  left: 10px;
  top: 15px;
  width: 20px;
  z-index: 9999;
}
.mobile-nav-icon.opened {
  opacity: 0.65;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
}

/* menu mobile */
.mobile-nav {
  background-color: rgba(17, 17, 17, 0.9);
  left: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 35px;
  position: absolute;
  top: 0;
  width: 100% !important;
  z-index: 9998;
}
.mobile-nav li {
  border-bottom: 1px solid #cccccc;
  line-height: 100%;
  list-style: outside none none;
  margin: 0 !important;
  padding-bottom: 10px;
  padding-top: 16px;
  position: relative;
  width: 100%;
}
.mobile-nav li:hover, .mobile-nav li.active {
  color: #EEBE28 !important;
 }
 .mobile-nav li a i {
  font-size: 8px;
  position: absolute;
  right: 3px;
}

/* submenu level1 */
.mobile-nav li ul {
  background: #ffffff;
  display: none;
  float: left;
  padding: 0 7%;
  position: relative;
  text-align: left;
  width: 100%;
}
.mobile-nav li ul li {  
  border: none;
  border-left: 1px dotted #cdcdcd;
  float: left;
  margin: 0;
  width: 100%;
}
.mobile-nav li ul li a {
  background-color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}
.mobile-nav li ul li:hover > a, .mobile-nav li ul li.active > a {
  background-color: #fbfbfb;
  color: #333333;
}

/* submenu level2 e abaixo */
.mobile-nav li ul li ul {
  
}
.clear {
  display: block;
  clear: both;
  height: 0;
}
/*kanji*/
#kanji-menu {
    position: absolute;   
    top: -2px;     
    z-index: 999;
     
      
  }
  #kanji-menu span {
    background: url('../../img/sprite-top.png');
      background-position: -40px 0;
      width: 60px;
      height: 60px;
      position: absolute;         
      text-indent: -9999px;  
      cursor: pointer;  
  }  
  /*fim kanji*/
  /*top logos*/ 
  #logos {        
    margin: 0 auto;    
    clear: both;
    position: fixed;
    height: auto;
    background: #fff;
    z-index: 999;
    width: 100%;
  }
  
  .top-logos {            
    position: relative;
    z-index: 9998;
    overflow: hidden;
    background: #FFF;
    margin: 5px 7%;
    width: 100%;    
}

.background-logos{
  background: url('../../img/sprite-top.png') no-repeat;
}
#top-logos-ul { 
  display: inline-block;    
  position: relative;
  width: 100%;  
}
#top-logos-ul li {
  float: left;
  padding-right: 10px;
  text-indent: -9999px;
  height: 30px;
  width: 40px;
  border-right: 1px solid #c6c6c6;
  text-align: center;
}
.li-logo-1 {
  background-position: -102px -15px;
}
.li-logo-2 {
  background-position: -153px -15px;
}
.li-logo-3 {
  background-position: -207px -15px;
}
.li-logo-4 {
  background-position: -260px -15px;
}
.li-logo-5 {
  background-position: -308px -15px;
}
.li-logo-6 {
  background-position: -365px -15px;
}
.li-logo-7 {
  background-position: -416px -15px;
  border: none !important;
}

/*fim top logos*/



